<h1>create a musician</h1>

<%= form_for(@member) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :band %>
<%= f.collection_select :band_id, Band.all, :id, :name %>
<%= f.submit %>
<%end%>
